body {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  background-color: rgb(199, 199, 15);
  margin: 0 auto;
}
a {
  color:rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 5px;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: rgb(105, 105, 105);
}
.nav {
  width: 100%;
  text-align: center;
  background-color: rgb(219, 242, 39);
}
.nav-block {
  max-width: 815px;
  height: 40px;
  margin: 0 auto;
  display: flex;
}
.nav-left {
  width: 70%;
  text-align: left;
  word-spacing: 10px;
  padding: 15px 0 15px 15px;
}
.nav-right {
  width: 30%;
  text-align: right;
  word-spacing: 10px;
  padding: 15px 15px 15px 0;
}
.footer {
  width: 100%;
  text-align: center;
  background-color: rgb(219, 242, 39);
}
.footer-block {
  max-width: 815px;
  height: 40px;
  margin: 0 auto;
  display: flex;
}
.footer-left {
  width: 60%;
  text-align: left;
  padding: 15px 0 15px 15px;
}
.footer-right {
  width: 40%;
  text-align: right;
  word-spacing: 10px;
  padding: 15px 15px 15px 0;
}
.content {
  max-width: 815px;
  margin: 15px auto;
  gap: 5px;
  display: flex;
  flex-wrap: wrap;
}
.content div{
  margin: 0 auto;
  display: flex;
}
img {
  padding: 0;
  margin: 0 auto;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
}
.menu-icon {
  display: none;
}

@media screen and (max-width: 480px) {
  .content {
    max-width: 200px;
    margin: 15px auto;
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
  }
  .content div{
    margin: 0 auto;
    display: flex;
  }
  .footer {
    width: 100%;
  }
  .footer-block {
    max-width: 480px;
    height: 50px;
    display: flex;
    flex-direction: column;
  }
  .footer-left {
    text-align: center;
    margin: 0 auto;
    padding: 5px;
  }
  .footer-right {
    text-align: center;
    margin: 0 auto;
    padding: 5px;
  }
}

@media screen and (min-width: 481px) {
  .content {
    max-width: 405px;
    margin: 15px auto;
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
  }
  .content div{
    margin: 0 auto;
    display: flex;
  }
}

@media screen and (min-width: 769px) {
  .content {
    max-width: 610px;
    margin: 15px auto;
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
  }
  .content div{
    margin: 0 auto;
    display: flex;
  }
}

@media screen and (min-width: 1025px) {
  .content {
    max-width: 815px;
    margin: 15px auto;
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
  }
  .content div {
    margin: 0 auto;
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .nav-block {
    max-width: 768px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    position: relative;
  }
  .nav-left {
    word-spacing: 10px;
    padding: 5px 0 5px 5px;
     position: absolute;
  }
  .nav-right {
    word-spacing: 10px;
    position: absolute;
    right: 15px;
  }
  .menu-icon {
    display: block;
  }
  .menu-icon img{
    width: 30px;
    height: 30px;
  }
  li {
    display: none;
    width: 150px;
    line-height: 25px;
    background-color: rgb(0, 0, 0);
    padding: 10px;
  }
  li a{
    color: rgb(255, 255, 255);
    font-size: 12px;
  }
  li:hover{
    display: block;
    width: 150px;
    line-height: 25px;
    background-color: rgb(203, 197, 10);
  }
  a {
    color:rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 5px;
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
}